#navbar {
    transition: top 0.15s;
}

.bg-azulMarinoOscuro {
    background-color: #00052f !important;
    color: white !important;
}

.texto-categoria-tec {
    font-size: 18px;
    letter-spacing: 1.5px;
}

/* Aumenta el espacio entre los números de línea y el código */
.hljs-ln-numbers {
    border-right: 15px solid #cccccc00;
}

.btn-hover-efecto {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-hover-efecto:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
}